@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	font-size: 100%;
}
$primary: #2f57ef;

i {
	font-size: 15px;
}
.overflow{
	overflow: hidden;
}
.actions {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
#actions {
	i {
		display: none !important;
	}
	&:hover {
		i {
			display: inline !important;
			animation: myanim forwards 2s;
		}
		transition: 1s;
		background-color: $primary;
	}
}
#under {
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 500;
	&:hover {
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-thickness: 1px;
	}
	i {
		padding: 0 5px;
	}
}

@keyframes myanim {
	15% {
		padding-left: 5px;
	}
	100% {
		padding-left: 5px;
	}
}
.courses {
	.fRow {
		div {
			overflow: hidden;
			p {
				top: 20px;
				transition: all 500ms;
				position: relative;
			}
			span {
				transition: all 500ms;
				top: 100px;
				position: relative;
			}
			&:hover {
				p {
					top: 10px;
				}
				span {
					top: 0;
				}
			}
		}
		.col-xl-3 {
			&:nth-child(1) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/web-design.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
			&:nth-child(2) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/graphic-design.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
			&:nth-child(3) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/personal-development.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
			&:nth-child(4) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/software.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
		}
	}
	.sRow {
		div {
			overflow: hidden;
			p {
				top: 20px;
				transition: all 500ms;
				position: relative;
			}
			span {
				transition: all 500ms;
				top: 100px;
				position: relative;
			}
			&:hover {
				p {
					top: 10px;
				}
				span {
					top: 0;
				}
			}
		}
		.col-xl-3 {
			&:nth-child(1) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/sales.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
			&:nth-child(2) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/arts.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
			&:nth-child(3) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/mobile.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
			&:nth-child(4) div {
				background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
					url("https://rainbowit.net/html/histudy/assets/images/category/image/finance.jpg");
				background-size: cover;
				background-position-y: -3em;
			}
		}
	}
}

.card {
	user-select: none;
	padding: 6vh 3.4ch;

	.userInfo {
		display: flex;
		img {
			width: 60px;
			border: 5px white solid;
			height: 60px;
			border-radius: 50%;
		}
		.info {
			margin: auto;
			text-align: left;
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 {
				font-size: min(2em, 20px);
			}
			span {
				font-size: 13px;
				color: #aaa;
			}
		}
	}
}

.feed {
	p {
		color: #686868;
		text-align: left;
		font-size: 17px;
	}
	.rating {
		float: left;
		margin-top: 0.5em;
		i {
			font-size: 12px;
		}
	}
}
.news {
	background: linear-gradient(
		270deg,
		rgba(185, 102, 231, 0.8) 10%,
		rgba(47, 87, 239, 1) 80%
	);
	width: 100%;
	& .card:hover {
		transform: scale(104%);
		transition: all 330ms;
	}
}
.bgCurve {
	background-image: url("https://rainbowit.net/html/histudy/assets/images/bg/banner-bg-shape-1.png");
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	top: -17.5vh;
	width: 100%;
	padding: 9ch 0;
	background-size: cover;
}
@mixin buttonStyle {
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 0 10px;
}
.feedback {
	button {
		@include buttonStyle();
		border: 1px solid #ddd;
		z-index: 50;
		border-radius: 50%;
		height: 3em;
		width: 3em;
		background-color: white;
		position: relative;
		top: 11em;
		// opacity: 0;
		transition: opacity 0.5s;
	}
	&:hover button {
		transition: opacity 0.5s;
		opacity: 1;
	}
	.right {
		right: -32vw;
	}
	.left {
		left: -32vw;
	}
	.scroll {
		-ms-overflow-style: none;
		scrollbar-width: none;
		// width: 1290px;
		display: grid;
		overflow-x: scroll;
		grid-template-columns: repeat(5, 350px);
		&::-webkit-scrollbar {
			display: none;
		}
		.cardBox {
			background-color: white;
			padding: 0 5px;

			.card {
				border-radius: 5px;
				user-select: none;
				background-color: #2f57ef21;

				.userInfo {
					display: flex;
					img {
						width: 60px;
						border: 5px white solid;
						height: 60px;
						border-radius: 50%;
					}
					.info {
						margin: auto;
						text-align: left;
						display: flex;
						flex-direction: column;
						align-items: center;
						h3 {
							font-size: min(2em, 20px);
						}
						span {
							font-size: 13px;
							color: #aaa;
						}
					}
				}
			}
		}

		.feed {
			p {
				color: #686868;
				text-align: left;
				font-size: 17px;
			}
			.rating {
				float: left;
				margin-top: 0.5em;
				i {
					font-size: 12px;
				}
			}
		}
	}
}
.dsds {
	border: 1px solid red;
}
footer {
	.row .col-xl-3 {
		ul li {
			a {
				color: #6b7385;
				text-decoration: none;
				font-size: 15px;
				display: inline-block;
				position: relative;
				&:hover {
					color: $primary;
					&::after {
						transform: scaleX(1);
						transform-origin: bottom left;
					}
				}
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					transform: scaleX(0);
					padding: 1px;
					bottom: 0;
					left: 0;
					background-color: $primary;
					transform-origin: bottom right;
					transition: transform 0.3s ease-out;
				}
			}
		}
	}
}
.data div {
	.h1 {
		&::after {
			content: "+";
		}
	}
}

@import "./node_modules/bootstrap/scss/bootstrap";
@media screen and (max-width: 1200px) {
	
	.uls{
		background-color: white !important;
		padding: 15px;
		
	}
	.show ul {
		font-weight: 500;
		// padding-top: 20px;
		// padding-left: 20px;
		li a,
		button {
			margin: 0 !important;
			padding: 10px  0 !important;
			border-bottom: 1px solid #aaa;
			width: 100%;
			text-align: start;
			i{
				display: none;
			}
			&::after{
				content: "+";
				float: right;
			}
		}
		
		ul {
			margin: 0 !important;
			padding: 0px !important;
			li {
				font-size: 12px;
				padding: 5px;
			}
		}
	}
	.navbar-collapse {
		position: absolute;
		top: -8vh;
		left: -100%;
		transition: 0.3s ease-in-out;

		.navbar-nav {
			background-color: white;
			width: 40vw;
			height: 100vh;
		}
		.overlay {
			background-color: rgba($color: black, $alpha: 0.8);
			padding: 50vh 0;
			z-index: -1;
			position: absolute;
			width: 100vw;
		}
	}
	#category {
		background: transparent !important;
		margin-left: -1em;
		margin-top: -0.4em;
	}
	.subInput {
		border: none !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.form-control {
			border: 1px solid #ddd !important;
			padding: 15px;
			border-radius: 50px !important;
			width: 100%;
		}
		button {
			margin-top: 1em;
			font-size: 13px;
			width: 50%;
		}
	}
}
.collapsing {
	// transform: translateX(0);
	height: auto !important;
}

.show {
	left: 0;
}
@keyframes coll {
	0% {
	}
	50% {
		transform: translateX(0);
	}
}
